# Datasets
datasets/
data/
*.jpg
*.jpeg
*.png
*.tif
*.tiff

# Model outputs
results/
checkpoints/
gradcam/

# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
.env/

# Mac files
.DS_Store

# Jupyter
.ipynb_checkpoints/

# Logs
*.log